* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right ,#35ae59,#2962a4);
}
.container{
    border: 2px solid black ;
     width: 100%;
    
}

.grid-container {
    margin: 30px 800px;

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(5,1fr);
    border-radius: 20px;
    /* box-shadow: 10px 10px 10px 10px rgb(61, 61, 60); */
}

.grid-item {
    border: 2px solid white;
    align-items: center;
}

.grid-input {
    grid-column: 1 / span 4;
    margin: 6px;
    margin-top: 20px;
    padding: 20px;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 10px;
}

.input {
    width: 100%;
    padding: 30px 0px;
    border: 2px solid black;
}

button {
    padding: 20px;
    border-radius: 20px;
    margin: 4px 4px;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(11, 8, 6);
    color: aliceblue;
}
